@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 65.2%;
}

body {
    box-sizing: border-box;
    font-family: 'Fira Code';
}

/* Navigation Bar */

.mitc-navbar {
    background-color: #3a3535;
    font-size: 1.75rem;
    list-style: none;
    padding: 0.5rem 0;
    width: 100%;
    text-align: right;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
}


.mitc-navbar-brand>a>img {
    float: left;
    padding-top: 0.2rem;
    margin: 0 1rem;
    width: 4rem;

}

.mitc-navbar .navbar-item {
    display: inline-block;
    line-height: 2.5;
}

.navbar-item>a {
    color: #f4f4f4;
    text-decoration: none;
    margin-right: 2rem;
}

.navbar-item>a:hover {
    color: #ff7315;
}

/* Heading Section */

#mitc-header {
    background: url(../logo/logo-sm-cust.png) no-repeat top;
    height: 95vh;
    position: relative;
    margin-top: 8rem;
}

.mitc-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 30%);
    text-align: center;
}


.mitc-heading-primary {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    backface-visibility: hidden;
    animation: moveInLeft 1s ease-out;
}

.mitc-heading-sub {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    backface-visibility: hidden;
    animation: moveInRight 1s ease-out;
}

.btn:link,
.btn:visited {
    margin-top: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    background-color: #3a3535;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    color: #ff7315;
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #ff7315;
    color: #f4f4f4;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-primary::after {
    background-color: #ff7315;

}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}


/* News Section */
#mitc-news {
    background-color: #f4f4f4;
    height: 95vh;
    position: relative;
}


/* Footer Section */
#mitc-footer {
    background-color: #3a3535;
    color: #f4f4f4;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem 0 0 0;
    position: relative;
    height: 3vh;
}