#mitc-header {
    background: url(../logo/logo-sm-cust.png) no-repeat top;
    height: 95vh;
    position: relative;
    margin-top: 8rem;
}

.mitc {

    &-text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 30%);
        text-align: center;


    }

    &-heading-primary {
        display: block;
        backface-visibility: hidden;
        animation: moveInLeft 1s ease-out;
    }

    &-heading-sub {
        display: block;
        backface-visibility: hidden;
        animation: moveInRight 1s ease-out;
    }

}