.mitc-navbar {
    background-color: $color-secondary;
    font-size: 1.75rem;
    list-style: none;
    padding: 0.5rem 0;
    width: 100%;
    text-align: right;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
}


.mitc-navbar-brand>a>img {
    float: left;
    padding-top: 0.2rem;
    margin: 0 1rem;
    width: 4rem;

}

.mitc-navbar .navbar-item {
    display: inline-block;
    line-height: 2.5;
}

.navbar-item>a {
    color: $color-light;
    text-decoration: none;
    margin-right: 2rem;
}

.navbar-item>a:hover {
    color: $color-primary;
}