body {
    font-family: 'Fira Code';
}

.mitc {
    &-heading-primary {

        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 2rem;

    }

    &-heading-sub {
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 2rem;

    }

}

.mitc-news {
    &-heading {
        font-size: 4rem;
        color: transparent;
        background: linear-gradient(to right top, rgba($color-primary, 1), rgba($color-primary-darker, 1));
        -webkit-background-clip: text;

    }

    &-sub {
        font-size: 3rem;
    }

    &-article {
        font-size: 2rem;
    }
}


#mitc-footer {
    color: $color-light;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
}

.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6rem;
    }

    &:hover {
        color: $color-primary;
    }



    &-primary {
        color: $color-light;
    }



}